n8n/workflows/whisper-transcription.json
{
  "name": "Whisper Transcription",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whisper-transcribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://api_gateway:8000/transcribe/async",
        "sendBody": true,
        "bodyContentType": "multipart-form-data",
        "specifyBody": "keypair",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.audio_file }}"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "name": "Transcribe Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=http://api_gateway:8000/task/{{ $json.task_id }}",
        "options": {}
      },
      "name": "Get Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "whisper-transcription"
}
